#!/usr/bin/env bash

################################################################################
# All the stuff that Explora asks you to put in .bashrc (copied), so that one  #
# can decide for each shell whether or not this should become an explora shell #
#                                                                              #
# Use 'source <thisfile>' to load it.                                          #
#                                                                              #
# Execute before using Explora. Or, add it to your .bashrc ...                 #
#                                                                              #
# (c) Philipp Bielefeldt, 2019                                                 #
################################################################################

# EXPLORA defaults (change to your liking ...)
#export EXPLORA_PATH=$HOME/Explora
export EXPLORA_HOME=$HOME/Explora/explora_home
export EXPLORA_ALLSOURCES=/localhome/$USER/allsources/install/

# Local G4 installation (not the allsources one)
#source ${HOME}/Geant4/install/bin/geant4.sh
#export G3SYS=${EXPLORA_ALLSOURCES}/share/Geant3-2.6.0/

export LD_LIBRARY_PATH=${EXPLORA_HOME}/lib:$LD_LIBRARY_PATH
export PATH=${EXPLORA_HOME}/bin:$PATH

# GENFIT is now needed
export GENFIT=/localhome/bielefeldt/GenFit2/build/
export LD_LIBRARY_PATH=${GENFIT}/lib/:${LD_LIBRARY_PATH}

# Allow linking against explora
export CPLUS_INCLUDE_PATH=$CPLUS_INCLUDE_PATH:${EXPLORA_HOME}/lib/

# clhep is somewhat scattered in allsources
export CLHEP_INCLUDE_DIR=/localhome/bielefeldt/allsources/build/Source/geant4/source/externals/clhep/include/
export CLHEP_LIBRARY=/localhome/bielefeldt/allsources/build/Build/clhep/lib/

# Source thistr16 configuration for allsources environment
if test -e $EXPLORA_ALLSOURCES/thistr16.sh; then
	echo -e "Found thistr16.sh"
	source $EXPLORA_ALLSOURCES/thistr16.sh
else
	echo -e "\n [!] Could not find thistr16.sh! This is NOT EXPECTED! \n"
fi

# Be a bit verbose
echo -e "\nDone. \n
  set Explora directory: EXPLORA_HOME=${EXPLORA_HOME} 
  set Geant 3: G3SYS=${G3SYS} 
  set Genfit 2 path: GENFIT=${GENFIT} 
  ROOTSYS : ROOT directory is in $ROOTSYS "
